<div class="container-fluid">
    <div class="row">
        <div class="col">
            <form class="contact-form d-flex flex-column gap-4 justify-content-center align-items-center" (submit)="sendEmail($event)">
                <h1>Contact Me</h1>
                <hr>
                <input type="text" name="user_name" placeholder="name" required>
                <input type="email" name="user_email" placeholder="email" required pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$">
                <textarea name="message" placeholder="message" required></textarea>
                <input type="submit" value="Send" class="btn">
            </form>
            @if(message()){
                <div class="d-flex justify-content-center align-items-center py-3">
                    <div>{{message()}}</div>
                </div>
            }
        </div>
    </div>
</div>
