<div class="container-fluid">
    <div class="row text-center">
        <div class="col-12 mb-3 d-flex justify-content-center">
            <div class="text text-center">
                i write a responsive web app in angular 17 (using signals and signalState)
                that shows the weather of some city. The
                user able to search for a city and save it to favorites locally.
                The API that used for this app is AccuWeather API - limited (free account) fifty requset each day.
            </div>
        </div>
        <div class="col-12 btn-wrapper">
            <a href="https://gabsy3.github.io/gaby-buchnik-29-01-2024/" target="_blank" class="btn1">Weather App</a>
            <a href="https://github.com/gabsy3/gaby-buchnik-29-01-2024/" target="_blank" class="btn1">Github Project</a>
        </div>
        <div class="col-12">
            <img src="assets/images/wea1.png" class="img">
        </div>
    </div>
</div>