:host {
    .img {
        @media screen and (max-width:768px) {
            max-width: 360px;     
        }
        max-width: 768px;
        filter: saturate(0.3);
        &:hover{
            filter: saturate(1);
        }
    }

    .text {
        max-width: 800px;
    }

    .btn-wrapper {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 25px 0px;

        a {
            text-decoration: none;
            color: #fff;
            text-align: center;
            text-transform: uppercase;
            &.btn1 {
                position: relative;
                height: 50px;
                width: 120px;
                background: #93B1A6;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s all;
    
                &:hover {
                    background: #183D3D;
                }
            }
        }
    }

}