<div class="container-fluid pb-64">
    <div class="row text-center">
        <div class="col-12 mb-3 d-flex justify-content-center">
            <div class="text text-center">
                I developed a responsive web app using Angular 17, which utilizes signals and signalState to display the
                weather of various cities. Users can search for a city and save it as a favorite locally. The app uses
                the AccuWeather API, which has a limit of fifty requests per day for free accounts.
            </div>
        </div>
        <div class="col-12 btn-wrapper">
            <a href="https://gabsy3.github.io/gaby-buchnik-29-01-2024/" target="_blank" class="btn1">Weather App</a>
            <a href="https://github.com/gabsy3/gaby-buchnik-29-01-2024/" target="_blank" class="btn1">Github Project</a>
        </div>
        <div class="col-12">
            <img src="assets/images/wea1.png" class="img">
        </div>
    </div>
</div>