<div class="container-fluid pb-64">
    <div class="row">
        <div class="col">
            <div class="text">
                Hello, I'm Gaby, a 35-year-old software engineer with eight years of experience as a front-end developer.
                I have gained valuable work experience from various companies,
                specializing in technologies such as:
                <ul style="list-style-type:circle;">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>Angular</li>
                    <li>TypeScript</li>
                    <li>Material Design</li>
                    <li>Kendo UI</li>
                    <li>JSON</li>
                    <li>XML</li>
                </ul>
                Also experienced in Reactive programming like rxjs
                Additionally, I possess knowledge in Node.js and have proficiency in working with tools like
                Visual Studio, VS Code, and Git.
            </div>
            
            <div class="icons d-flex flex-wrap justify-content-start align-items-center">
                <img src="../../../assets/logos/html.png">
                <img src="../../../assets/logos/css.png">
                <img src="../../../assets/logos/Bootstrap.png">
                <img src="../../../assets/logos/js.png">
                <img src="../../../assets/logos/jquery.png">
                <img src="../../../assets/logos/angular.png">
                <img src="../../../assets/logos/typescript.png">
                <img src="../../../assets/logos/git.png">
            </div>
        </div>
    </div>
</div>