header {
    .header-wrapper {
        color: white;
    }

    .mr-10 {
        margin-right: 10px;
    }
    .active{
        color:#93B1A6;
    }
    
    .cursor-pointer{
        cursor: pointer;
    }
}