:host {
    .active{
        color:#93B1A6;
    }
    .mat-toolbar {
        background-color: #040D12;
        color: azure;
    }

    .example-spacer {
        flex: 1 1 auto;
    }
    .cursor-pointer{
        cursor: pointer;
    }
}